*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* common css design */
p{
    font-size: 20px;
}
header{
    padding: 50px 120px;
    background-color: #f3e7e7;
}
.common-btn{
    background-color: orange;
     color: #fff;
     padding: 10px 20px;
     font-size: 20px;
     font-weight: bold;
     border: none;
     border-radius: 10px;
     margin-top: 20px;
}

/* navbar section design */
.navbar{
    display: flex;
    justify-content: space-between;
    
}
.navbar h3{
    font-size: 40px;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.navbar ul li{
    margin-right: 30px;
    cursor: pointer;
}

/* hero section design */
.hero-section{
    margin-top: 100px;
}
.hero-text-content{
    margin-bottom: 50px;
    text-align: center;
}
.hero-text-content h2{
    font-size: 45px;
    margin-bottom: 10px;
}

.hero-image img{
    width: 100%;
}

/* features album section design */
.features-album-section{
    padding: 100px 150px;
    display: flex;
    justify-content: space-between;
}
.features-album-image-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px 20px
}
.features-album-image-content img{
    width: 250px;
}
.features-album-text-content{
    padding: 100px;
}
.features-album-text-content h3{
    font-size: 35px;
}
.features-album-text-content h3 .first-part{
    color: rgb(109, 106, 100);
}
.features-album-text-content h3 .last-part{
    color: orange;
}
.features-album-text-content p{
    margin: 20px 0;
}

/* features section design */
.features-section-container{
    padding: 100px 130px;
    position: relative;
}
.features-section{
    display: flex;
    justify-content: space-between;
    
    
}
.features-section> .text-content{
    padding: 20px;
}
.features-section> .text-content h3{
    font-size: 35px;
    width: 300px;
    border-left: 6px solid orange;
    margin-bottom: 20px;
    
}
.features-section> .text-content h3> span{
    margin-left: 10px;
}
.features-section> .text-content .text{
    margin-left: 15px;
}
.features-section .features{
    padding: 20px 20px 20px 60px;
}
.features-section .features> .feature{
    padding: 20px 30px;
    background-color: rgb(248, 245, 242);
    margin-top: 10px;
}
.features-section .features> .feature h4{
    font-size: 25px;
    margin-bottom: 20px;
}
.features-section> .image-content img{
    height: 800px;
}
.experience-box{
    text-align: center;
    position: absolute;
    left: 45%;
    margin-top: -200px;
    z-index: 9;
    background-color: orange;
    color: #fff;
    padding: 30px 20px;
    width: 200px;
}
.experience-box h3{
    font-size: 30px;
}

/* facts section design */
.facts-section{
    padding: 20px 140px;
}
.facts-section h3{
    font-size: 35px;
    margin-bottom: 20px;
}
.facts-section .facts{
    display: flex;
    justify-content: space-between;
    padding: 80px 50px;
    
}
.facts-section .facts .fact{
    border: 1px solid orange;
    padding: 30px 40px;
    text-align: center;
}
.facts-section .facts .fact h4{
    font-size: 25px;
}
.facts-section .facts .fact p{
    font-weight: bold;
}

/* sponsors section design */
.sponsors-section{
    padding: 50px 130px;
    text-align: center;
}
.sponsors-section h3{
    font-size: 35px;
    margin-bottom: 20px;
}
.sponsors-section .sponsors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}
.sponsor img{
    height: 50px;
}
